<!DOCTYPE html>
<html>

<head>
  <title>About Us</title>
  <link rel="stylesheet" href="../static/AboutUs.css">
</head>

</html>

<body>
  <div class="about-section">
    <h1>About Us Page</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
  </div>

  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/static/AngKuanLiang.jpg" alt="KL" style="width:100%">
        <div class="container">
          <h2>Ang Kuan Liang</h2>
          <p class="title">Student</p>
          <p>Expert Student!</p>
          <p><a href="mailto:angkl-wm20@student.tarc.edu.my">angkl-wm20@student.tarc.edu.my</a></p>
          <p><button type="submit" style="background-color: #99CCFF;
            height: 45px; 
            width: 200px; 
            color:black; 
            font: oblique;
            cursor: pointer;
            text-decoration: none;"><a href="/error">Contact</a></button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="/static/WongZiXuan.JPG" alt="ZX" style="width:100%">
        <div class="container">
          <h2>Wong Zi Xuan</h2>
          <p class="title">Student</p>
          <p>Nothing</p>
          <p><a href="mailto:wongzx-wm20@student.tarc.edu.my">wongzx-wm20@student.tarc.edu.my</a></p>
          <p><button type="submit" style="background-color: #99CCFF;
            height: 45px; 
            width: 200px; 
            color:black; 
            font: oblique;
            cursor: pointer;
            text-decoration: none;"><a href="/error">Contact</a></button></p>
        </div>
      </div>
    </div>
  </div>
  <h3><a href="/">RETURN</a></h3>
</body>