<!DOCTYPE html>
<html>

<head>
  <title>About Us</title>
  <link rel="stylesheet" href="/static/AboutUs.css">
</head>

</html>

<body>
  <div class="about-section">
    <h1>About Us Page</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
  </div>

  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/static/duck.jpg" alt="KL" style="width:100%">
        <div class="container">
          <h2>Member 1</h2>
          <p class="title">Member 1</p>
          <p>Expert Student!</p>
          <p>Email</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="/static/WongZiXuan.jpg" alt="ZX" style="width:100%">
        <div class="container">
          <h2>Member 2</h2>
          <p class="title">Member 2</p>
          <p>HAHAHA</p>
          <p>Email</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
  <h3><a href="/">RETURN</a></h3>
</body>