<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
    <link rel="stylesheet" href="Homepage.css">
</head>
<body>
    <div class="container">
        <br>
        <br>
		<h1>Employee</h1>
        <br>
        <br>
        <form action="/" autocomplete="on" method = "POST" enctype="multipart/form-data"></form>
        <div class="column">
			<button class="button"><a href="AddEmp.html">ADD EMPLOYEE</a></button><br><br>
            <button class="button" ><a href="GetEmp.html">GET EMPLOYEE</a></button><br><br>
            <button class="button" ><a href=".html">UPDATE EMPLOYEE</a></button><br><br>
            <button class="button" ><a href=".html">DELETE EMPLOYEE</a></button><br><br>
        </div>
        <br>
        <br>
        <button class="button2" ><a href="AboutUs.html">ABOUT US</a></button><br><br>

    </div>
</body>
</html>