<!DOCTYPE html>
<html>

<head>
    <title>Update Employee Information</title>
    <link rel="stylesheet" href="/static/GetEmp.css">
</head>

<body>
    <div class="container">
        <br>
        <h1>Employee Information</h1>
        <br>

        <form action="/updateolddata" autocomplete="on" method="POST">

            <h2>Enter Employee ID</h2>

            Employee ID:<br> <input style="height:25px;font-size:14pt;" type="number" name="emp_id" autofocus
                size="40"><br><br><br>
            <button type="submit" style="background-color: #99CCFF;
			height: 45px; 
			width: 200px; 
			color:black; 
			font: oblique;
			cursor: pointer;
			text-decoration: none;">FETCH INFO</button><br><br><br>

        </form>

        <div class="back">
            <br><br><a href="/">RETURN</a>
        </div>
</body>

</html>